# <center>Python Basics - Assignment<center/> 
<img height="60" width="120" src="https://www.python.org/static/img/python-logo-large.png?1414305901"></img>

# Table of contents
<br/>
<a href = "#6.-Variables"> Variables</a><br/>
<a href = "#7.-Data-Types"> Data Types</a><br/>
<a href = "#8.-Conversion-between-Datatypes"> Conversion between Datatypes</a>

#  Variables

A variable is an alias given to a location in memory that is used to store some data (value).

Each data point stored in the memory is given unique name to differentiate between different memory locations (and thus data points). <br/><b>The rules for writing a variable name is same as the rules for writing identifiers in Python.</b>

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the <b>type</b> of the variable. This is handled internally according to the type of value we assign to the variable.
<br/>
<br/>

### Variable assignements
We use the assignment operator (=) to assign values to a variable

In [2]:
# initialize a variable with int value

# initialize a variable with floating point value

# initialize a variable with string value

# Print values of all the variables

a=10
b=12.3
c="dastan"
print("variable with int value",a)
print("variable with floating value",b)
print("variable with string value",c)

variable with int value 10
variable with floating value 12.3
variable with string value dastan

### Multiple assignements
Use comma to seperate the variables and their corresponding values

In [80]:
# Assign multiple vairables in a single line int, double and string

# print the values assigned to variables

a,b,c=11,12.3,"dastan"
print(a)
print(b)
print(c)

10
12.3
dastan

In [81]:
# initialize multiple variables with same value use 1 assignment

# print all the variables assigned

a=b=c=10
print(a)
print(b)
print(c)

10
10
10

### Storage Locations

In [82]:
# Print address of a variable in memory of an integer variable
# This can be done by using id keyword
# id(variable)


a=10
print(id(a))

2454259892752

In [83]:
# Print address of a variable in memory of an decimal variable
# This can be done by using id keyword
# id(variable)

a=13.4
print(id(a))

2454367829488

<b>interger1</b> and <b>interger2</b> points to same memory location in the below example

In [84]:
a = 10
b = 10

print(id(a))   
print(id(b))

2454259892752
2454259892752

# 7. Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.
<br/><br/>
Below are few of the commonly used data types<br/>

### Python Numbers

<b>Integers, floating point numbers and complex numbers</b>
falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the <b>type()</b> function to know which class a variable or a value belongs to <br/> and the <b>isinstance()</b> function to check if an object belongs to a particular class.

In [85]:
# integer data type
a = 10                            
print(a, " is of type", type(a))

10  is of type <class 'int'>

In [86]:
# float data type
b = 12.5                           
print(b, " is of type", type(b))

12.5  is of type <class 'float'>

In [87]:
#data type is changed to complex number
c = 99 + 14j                        
print(c, " is complex number?", isinstance(c, complex))

(99+14j)  is complex number? True

### Boolean

Boolean represents True or False values

In [88]:
# initialize a boolean variable
# valitate it by printing the type of a variable

a=10
b=9

print(a>b, " is of type", type(a>b))

True  is of type <class 'bool'>

### Python Strings

String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. <br/>
Multi-line strings can be denoted using triple quotes(single/double), <b>''' or """. </b><br/>

A string in Python consists of a series or <u>sequence of characters</u> - <b>letters, numbers, and special characters.</b>

Strings can be indexed - often synonymously called subscripted as well.

The first character of a string has the index 0.

In [89]:
# Initialize a string variable with a value of length greater then 15 chars
# print the value of string variable 
# print the first character of string variable

a="qwertyuiopasdsdf"
print(a)
print(a[0])

qwertyuiopasdsdf
q

In [90]:
# Slicing of String variable
# slice and print the string variable from 2th index to 7th index
# slice and print the string variable from 0th index to 7th index
# slice and print the string variable from 5th index to end

a="qwertyuiopasdsdf"
print(a[::])
print(a[2:8])
print(a[:8])
print(a[5:])

qwertyuiopasdsdf
ertyui
qwertyui
yuiopasdsdf

### Python List

List is an <u>ordered sequence</u> of items. It is one of the most used datatype in Python and is very flexible. 

All the items in a list do not need to be of the same type.

Declaring a list is pretty straight forward. Items separated by commas are enclosed within square brackets <b>'[ ]'</b>.

In [1]:
# initialize a variable to list containing various different datatypes (int, float, string etc)
# print the list variable

a=[1,2,3,4]
b=[12.5,12.6,12.7,12.8]
c=["dastan","harsh","ragini"]
print("list contain int",a)
print("list contain float",b)
print("list contain string",c)

list contain int [1, 2, 3, 4]
list contain float [12.5, 12.6, 12.7, 12.8]
list contain string ['dastan', 'harsh', 'ragini']

In [92]:
# print the 3rd element of the list

a=[1,2,3,4]
print(a[2])

3

Lists are mutable, which means, value of elements of a list can be changed.

In [93]:
# change the value of 2nd element of the list (try to assign a different datatype)
# print the list variable

a=[1,2,3,4]
b=[12.5,12.6,12.7,12.8]
c=["dastan","harsh","ragini"]
a[1]=8
b[1]=11.6
c[1]="mg"
print(a)
print(b)
print(c)

[1, 8, 3, 4]
[12.5, 11.6, 12.7, 12.8]
['dastan', 'mg', 'ragini']

In [94]:
# remove the item by value
# print the list

a=[1,2,3,4]
a.remove(3)
print(a)

[1, 2, 4]

In [95]:
# remove the item from list by index
# print the list

a=[1,2,3,4]
b=a[:2]+a[3:]
print(b)

#or

a=[1,2,3,4]
a.pop(2)
print(a)

[1, 2, 4]
[1, 2, 4]

In [96]:
# add item to list and print the list with added values

a=[1,2,3,4]
a.append(5)
print(a)

[1, 2, 3, 4, 5]

### Python Tuple

Tuple is an <u>ordered sequence</u> of items same as list. <br/>

Tuples are used to write-protect data and are usually faster than list as it cannot change dynamically.

It is defined within parentheses <b>()</b> where items are separated by commas.

In [97]:
# define a tuple below
a=(10,20.1,"dastan")
print(a)

(10, 20.1, 'dastan')

In [128]:
# print the specific index of tuple

a=(10,20.1,"dastan")
print(a.index(10))

0

In [131]:
# change the value of second index of tuple to different value

a=(10,20.1,"dastan")
y = list(a)
y[2] = "harsh"
a = tuple(y)
print(a)

(10, 20.1, 'harsh')

### Python Set

Set is an <u>unordered collection</u> of unique items. <br/>
Set is defined by values separated by comma inside curly braces <b>{ }</b>. <br/>

In [132]:
# initialize a set to a variable
# print set variable

a={1,2,3,4,5}
print(a)

(1, 2, 3, 4, 5)

In [134]:
# try adding a duplicate value to the above set
# print the value of set

a={1,2,3,4,5,5}
print(a)

{1, 2, 3, 4, 5}

In [135]:
# print the type of set variable
a={1,2,3,4,5}
print(type(a))

<class 'set'>

In [140]:
# print 1st element of set and observe the output

a={1,2,3,4,5,5}
x = next(iter(a))
print(x)

1

### Python Dictionary

<b>Dictionary</b> is an <u>unordered collection</u> of <b>key-value</b> pairs.

It is generally used when we have a huge amount of data.<br/> 
Dictionaries are optimized for retrieving data. <br/>
We must know the <b>key</b> to retrieve the <b>value</b>.

In Python, dictionaries are defined within curly braces <b>{}</b> <br/>
with each item being a pair in the form <b>key:value</b>. <br/>
<b>Key and value</b> can be of <u>any type</u>.

In [141]:
# myDictionary = {'key1': "value1", 'key2': "value2", 'key3': "value3",}
# print the value of key2 of myDictionary below

dis={1:"one",2:"two",3:"three"}
print(dis)

{1: 'one', 2: 'two', 3: 'three'}

<b>Update</b> a value in the dictionary

In [145]:
# update the value of key3 to value4
# print the updated dictionary

myDictionary = {'key1': "value1", 'key2': "value2", 'key3': "value3"}
myDictionary.update({'key3': "value4"})
print(myDictionary)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value4'}

<b>Add</b> a new key & value

In [149]:
# add a new key to dictionary with value "value_new"
# print the dictionary

myDictionary = {'key1': "value1", 'key2': "value2", 'key3': "value3"}

myDictionary["key4"]="value4"

print(myDictionary)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

<b>Delete</b> Dictionary Elements

In [150]:
# delete a key from dictionary
# print the dictionary after updation

myDictionary = {'key1': "value1", 'key2': "value2", 'key3': "value3"}
myDictionary.pop("key2")
print(myDictionary)

{'key1': 'value1', 'key3': 'value3'}

# Conversion between Datatypes

To convert between different data types use different type conversion functions like <b>int(), float(), str()</b> etc.

In [152]:
# initialize a variable with a decimal value
# convert the variable to int (typecasting)

a=10.3
b=int(a)
print(b)

10

In [153]:
# initialize a variable with an int value
# convert the variable to float (typecasting)

a=10
b=float(a)
print(b)

10.0

Conversion to and from string must contain compatible values.

In [154]:
# initialize a variable with an int value
# convert the variable to string (typecasting)

a=10
b=str(a)
print(b)

10

In [158]:
# initialize a variable with a decimal value
# convert the variable to string (typecasting)
a=10.3
b=str(a)
print(b)

10.3

In [159]:
# initialize a variable with a value "5" (as string)
# convert the variable to int (typecasting)

a="5"
b=int(a)
print(b)

5

In [164]:
# initialize a variable with a value "5.5" (as string)
# convert the variable to int (typecasting)

a="5.5"
b=float(a)
c=int(b)
print(c)

5

In [161]:
# initialize a variable with a value "5.5" (as string)
# convert the variable to float (typecasting)

a="5"
b=float(a)
print(b)

5.0

In [166]:
# initialize a variable with a value "CharIn10" (as string)
# convert the variable to int (typecasting)

a="CharIn10"
b=int(a)
print(b)

#'it will raise error
#ValueError: invalid literal for int() with base 10: 'CharIn10''

ValueError: invalid literal for int() with base 10: 'CharIn10'

In [170]:
#  concat string with int
# variable = string_v1 + int_v2
a="dastan"
b=10
print(a+b)


#'it will raise error
#TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [169]:
# concat string with typecasted string to int
# variable = string_v1 + str(int_v2)
# print the value of variable

a="dastan"
b=10
print(a+str(b))

dastan10

Convert,<br/>
1> list to set<br/>
2> String to list

In [172]:
# 1> list to set
# initialize a variable with a list of characters
# print the list
# print the type of variable
# convert list to set and assign it to an other variable 
# print the type of set variable
# print set variable

a=[1,2,3,4,5,6]
print(a)
print(type(a))
b=set(a)
print(type(b))
print(b)

[1, 2, 3, 4, 5, 6]
<class 'list'>
<class 'set'>
{1, 2, 3, 4, 5, 6}

In [175]:
# 2> String to list
# assign a string to a variable myString1
# print type of myString variable
# convert myString to list and assign it to strToList
# print type of strToList
# print variable strToList

myString1="dastan"
print(type(myString1))
strToList=list(myString1)
print(type(strToList))
print(strToList)

<class 'str'>
<class 'list'>
['d', 'a', 's', 't', 'a', 'n']